@charset "utf-8";

/* 태그 초기화 */
body{font-family:"Malgun Gothic";font-weight:100;font-size:15px;letter-spacing:-0.5px}
*{margin:0;padding:0;}
ul,li{list-style:none;}
input,img,select,button,textarea,canvas,video{vertical-align:middle;font-family:inherit;letter-spacing:inherit}
a{text-decoration:none;color:inherit;}
fieldset{border:none;}
img{max-width:100%;max-height:100%;}

/* 레이아웃 요소 */
.legend{font-size:25px;margin-bottom:10px;}
.legend::before{content:"";display:inline-block;vertical-align:middle;margin-right:5px;width:5px;height:20px;background:#d30513;margin-top:-5px;}
span.middle{display:inline-block;vertical-align:middle;width:0;height:100%;}
span.middle+*{display:inline-block;vertical-align:middle;}
.container{width:1200px;margin:0 auto;}

/* 버튼 */
.btn{color:#fff;padding:5px 10px;vertical-align:middle;border:none;font-size:13px;border-radius:3px;cursor:pointer;display:inline-block;font-weight:bold;}
.btn.full{width:100%;display:block;padding:10px 0;font-size:15px;text-align:center;}
.btn.full+.btn.full{margin-top:5px;}
.btn.mini{padding:3px 5px;}
.btn.big{font-size:17px;padding:10px 15px;}
.btn__main,
.btn__default.active{background:#d30513;}
.btn__default{background:#666;}
.btn__black{background:#333;}
.btn__group{margin-top:40px;text-align:center;}
.btn__group.right{text-align:right;}
.btn__left.right{text-align:left;}

/* 입력 영역 */
.fields{background:#fafafa;border-radius:3px;border:1px solid #ddd;padding:30px;}
.fields li+li{border-top:1px dotted #ddd;margin-top:15px;}
.fields__list{display:block;cursor:pointer;padding:10px 0;}
.fields__list+.fields__list{border-top:1px solid #ddd;}
.fields__label{display:block;margin-bottom:5px;}
.fields__input{padding:10px 5px;border:1px solid #ddd;color:#666;border-radius:3px;transition:0.3s;font-size:15px;}
.fields__input::placeholder{color:#bbb;}
.fields__input:focus{border-bottom:1px solid #d30513;outline:none;}
.fields__input.full{box-sizing:border-box;width:100%;}
.fields__buttons{padding-top:15px;}
.fields__custom-radio{display:inline-block;}
.fields__custom-radio input{display:none;}
.fields__custom-radio span{display:block;border:1px solid #ddd;padding:5px 10px;font-size:13px;transition:.3s;cursor:pointer;border-radius:3px;background:#fff;}
.fields__custom-radio input:checked+span{border-color:#d30513;background:#d30513;color:#fff;}

/* 사이트 상단 */
.site-header{background:#222;position:relative;z-index:10;}
.site-header>div{display:flex;justify-content:space-between;align-items:center;position:relative;padding-top:20px;height:80px;}
.logo{color:#fff;font-size:25px;}
.gnb>ul{display:flex;}
.gnb a{display:block;transition:.3s;}
.gnb>ul>li{position:relative;}
.gnb>ul>li>a{color:#fff;font-size:17px;font-weight:bold;padding:10px 40px;}
.gnb>ul>li>ul{position:absolute;left:0;right:0;}
.gnb>ul>li:hover>a{background:#d30513;}
.gnb>ul>li:hover>ul a{height:35px;border-top-width:1px;}
.gnb>ul>li>ul a{text-align:center;background:#d30513;color:#fff;font-weight:400;line-height:35px;border-top:0px dotted rgba(255, 255, 255, .5);height:0;overflow:hidden;}
.gnb>ul>li>ul a:hover{background:#f5f5f5;color:#d30513;}
.sns{position:absolute;top:0;display:flex;right:0;line-height:40px;}
.sns img{width:20px;}
.sns a{display:block;margin-left:10px;}

/* 사이트 하단 */
.site-footer{background:#222;color:#fff;padding:30px 0;font-weight:400}
.site-footer>div{display:flex;align-items:center;}
.footer__map{margin-right:30px;}
.footer__map img{width:400px;transition:.3s;cursor:pointer;}
.footer__map:hover img{transform:scale(1.1)}
.footer__info{line-height:160%;}
.footer__logo{font-size:25px;line-height:1;transition:.3s;cursor:pointer;position:relative;}
.footer__logo span{transition:.3s;display:inline-block;}
.footer__logo::after{content:"";display:block;height:1px;margin:15px 0;background:#fff;}
.footer__logo::before{content:"";position:absolute;left:0;width:0;bottom:-15px;height:2px;margin:15px 0;background:#d30513;transition:.3s;}
.footer__logo:hover span{transform:scale(1.2) translateX(10px);color:#d30513;}
.footer__logo:hover::before{width:100%;}
.footer__copyright{text-transform:uppercase;font-weight:bold;color:#aaa;font-family:"Arial", sans-serif;}
.footer__sns{margin-top:10px;}
.footer__sns::before{content:"";display:block;height:1px;margin:15px 0;background:#fff;}
.footer__sns a{display:inline-block;transition:.3s;}
.footer__sns a:hover{transform:rotate(20deg) scale(1.1)}
.footer__sns a+a{margin-left:10px;}
.footer__sns img{width:30px;}

/* 비주얼 영역 */
.site-visual{overflow:hidden;}
.site-visual ul{width:calc(100% * 4);display:flex;animation:slide 20s infinite;background:#666;}
.site-visual li{width:calc(100% / 4);height:500px;background:no-repeat center / cover;position:relative;text-align:center;color:#fff;animation:scaleOut 5s infinite;animation-delay:4s}
.site-visual.sub li{height:250px;}
.site-visual li:before{content:"";position:absolute;left:0;right:0;top:0;bottom:0;background:#000;opacity:.3;}
.site-visual li:nth-child(1){background-image:url(../image/visual1.jpg);}
.site-visual li:nth-child(2){background-image:url(../image/visual2.jpg);}
.site-visual li:nth-child(3){background-image:url(../image/visual3.jpg);}
.site-visual li:nth-child(4){background-image:url(../image/visual4.jpg);}
.site-visual .slogan{position:relative;line-height:1;text-shadow:0 0 50px #000, 0 0 50px #000;position:relative;}
.site-visual .slogan strong{font-size:35px;display:block;margin-bottom:10px;letter-spacing:-2px}
.site-visual .slogan p{font-size:23px;font-weight:normal;}
@keyframes slide {
  0%, 20% {margin-left:0;}
  25%, 45% {margin-left:-100%;}
  50%, 70% {margin-left:-200%;}
  75%, 95% {margin-left:-300%;}
  100% {margin-left:0;}
}
@keyframes scaleOut {
  0% {transform:scale(1);}
  5%, 10%, 18% {transform:scale(0.8);}
  23%, 100% {transform:scale(1);}
}

/* 컨텐츠 영역 */
.main-content>section{padding:100px 0;}
.sub-content{padding:100px 0;}
.content__title{text-align:center;font-size:35px;line-height:100%;}
.content__title::after{content:"";display:block;width:50px;margin:20px auto 30px;height:1px;background:#bebebe;}

/* 인트로 */
.intro{background:#f5f5f5;}
.intro>div{padding:100px;background:url(../image/intro.jpg) no-repeat center / cover;position:relative;color:#fff;border:5px solid #d30513;border-width:4px 0;}
.intro>div::before{content:"";display:block;position:absolute;left:0;right:0;top:0;bottom:0;background:#000;opacity:0.6;}
.intro>div p{position:relative;z-index:10;font-size:21px;font-weight:normal;text-align:center;}
.intro>div p+p{margin-top:20px;}
.intro>div span{font-size:11px;vertical-align:top;display:inline-block;}

/* 스폰서 */
.sponser{overflow:hidden;}
.sponser__wrap{margin:0 30px;position:relative;}
.sponser input{display:none;}
.sponser ul{width:calc(20% * 11);display:flex;transition:.5s;}
.sponser li{width:calc(100% / 11);text-align:center;height:200px;line-height:200px;}
.sponser .arrow{position:absolute;font-size:30px;text-align:center;display:block;width:30px;height:30px;line-height:30px;color:#d30513;top:calc(50% - 15px);text-align:center;z-index:10;}
.sponser .arrow.left{left:-30px;text-align:right;}
.sponser .arrow.right{right:-30px;text-align:left;}
.sponser .arrow label{display:none;position:absolute;left:0;right:0;top:0;bottom:0;cursor:pointer;}
#sponser1:checked ~ ul{margin-left:0;}
#sponser2:checked ~ ul{margin-left:-20%;}
#sponser3:checked ~ ul{margin-left:-40%;}
#sponser4:checked ~ ul{margin-left:-60%;}
#sponser5:checked ~ ul{margin-left:-80%;}
#sponser6:checked ~ ul{margin-left:-100%;}
#sponser7:checked ~ ul{margin-left:-120%;}
#sponser1:checked ~ .arrow label:nth-child(1),
#sponser2:checked ~ .arrow label:nth-child(2),
#sponser3:checked ~ .arrow label:nth-child(3),
#sponser4:checked ~ .arrow label:nth-child(4),
#sponser5:checked ~ .arrow label:nth-child(5),
#sponser6:checked ~ .arrow label:nth-child(6),
#sponser7:checked ~ .arrow label:nth-child(7){display:block;}

/* 갤러리 */
.gallery{background:#f5f5f5;}
.gallery ul{display:flex;flex-flow:wrap;}
.gallery li{width:48%;margin:1%;position:relative;overflow:hidden;cursor:pointer;}
.gallery__image{position:relative;padding-top:65%;background:#fff;}
.gallery__image img{position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.gallery__info{background:rgba(0,0,0,0.75);position:absolute;left:0;top:0;right:0;bottom:0;color:#fff;padding:50px 30px;font-weight:normal;border-bottom:5px solid #d30513;transition:.7s;transform:translateY(-101%)}
.gallery li:hover .gallery__info{transform:none;}
.gallery__subject{font-size:35px;font-weight:bold;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #fff;line-height:1;}
.gallery__sub-title{margin-bottom:10px;}
.gallery__info strong{font-size:25px;}
.gallery__info p{line-height:160%;font-size:17px;}
.gallery__info a{position:absolute;right:30px;bottom:50px;font-size:20px;transition:.3s;}
.gallery__info a:hover{color:#d30513;transform:scale(1.2);}
.layer{display:none;position:fixed;left:0;right:0;top:0;bottom:0;z-index:100;text-align:center;}
.layer:target{display:block;animation:layerOpen 0.5s;}
.layer__background{position:absolute;left:0;right:0;top:0;bottom:0;background:#000;opacity:.7;}
.layer>div{position:relative;z-index:10;text-align:center;width:1000px;cursor:default;}
.layer__close{position:absolute;right:0;top:0;display:block;background:#d30513;color:#fff;padding:10px 15px;transition:.3s;opacity:.5;}
.layer__close:hover{opacity:1;}
@keyframes layerOpen {
  from {opacity:0;} to {opacity:1;}
}

/* 공지사항 */
.notice{width:900px;font-size:21px;}
.notice__wrap{border:1px solid #ddd;border-left:2px solid #d30513;padding:30px;}
.notice__slide{overflow:hidden;height:250px;}
.notice ul{animation:noticeSlide 10s infinite;}
.notice li{line-height:50px;display:flex;justify-content:space-between;}
.notice a{font-weight:bold;color:#d30513;}
.notice .date{color:#666;}
@keyframes noticeSlide {
  0%, 15% {margin-top:0;}
  20%, 35% {margin-top:-50px;}
  40%, 55% {margin-top:-100px;}
  60%, 75% {margin-top:-150px;}
  80%, 95%{margin-top:-200px;}
  99.99% {margin-top:-250px;}
  100% {margin-top:0px;}
}

/* 배너 */
.banner{background:#f5f5f5;}
.banner ul{display:flex;flex-flow:wrap;}
.banner li{width:calc(25% - 10px);margin:5px;overflow:hidden}
.banner a{display:block;}
.banner img{transition:.3s;}
.banner img:hover{transform:scale(1.1)}

/* 사이트관리 */
.admin{width:1200px;margin:0 auto;}
.admin__canvas{position:relative;height:600px;margin-top:15px;}
.cols{position:absolute;top:-15px;font-size:6px;}
.cols>span{display:inline-block;width:15px;text-align:center;letter-spacing:-1px;}
.rows{position:absolute;left:-15px;top:0;font-size:6px;width:15px;}
.rows>span{display:block;text-align:center;line-height:15px;}
#svgCanvasTop{display:none;position:absolute;left:0;right:0;top:0;bottom:0;}
#svgCanvasTop.active{display:block;}