@charset "utf-8";

/* 태그 초기화 */
body{font-family:"Malgun Gothic";font-weight:100;font-size:15px;letter-spacing:-0.5px}
*{margin:0;padding:0;}
ul,li{list-style:none;}
input,img,select,button,textarea,canvas,video{vertical-align:middle;font-family:inherit;letter-spacing:inherit}
a{text-decoration:none;color:inherit;}
fieldset{border:none;}
img{max-width:100%;max-height:100%;}
[type="radio"],[type="checkbox"]{display:none;}

/* 레이아웃 요소 */
.legend{font-size:25px;margin-bottom:10px;}
.legend::before{content:"";display:inline-block;vertical-align:middle;margin-right:5px;width:5px;height:20px;background:#09f;margin-top:-5px;}
span.middle{display:inline-block;vertical-align:middle;width:0;height:100%;}
span.middle+*{display:inline-block;vertical-align:middle;}

/* 버튼 */
.btn{color:#fff;padding:5px 10px;vertical-align:middle;border:none;font-size:13px;border-radius:3px;cursor:pointer;display:inline-block;font-weight:bold;line-height:1;transition:.3s}
.btn.full{width:100%;display:block;padding:10px 0;font-size:15px;text-align:center;}
.btn.full+.btn.full{margin-top:5px;}
.btn.mini{padding:3px 5px;}
.btn.big{font-size:17px;padding:10px 15px;}
.btn.to-main:hover,
.btn__main{background:#09f;}
.btn__default{background:#666;}
.btn__black{background:#333;}
.btn__white{background:#fff;color:#09F;}
.btn__green{background:#1dd2af;}
.btn__group{margin-top:40px;text-align:center;}
.btn__group.right{text-align:right;}
.btn__left.right{text-align:left;}

/* 입력 영역 */
.fields{background:#fafafa;border-radius:3px;border:1px solid #ddd;padding:30px;}
.fields li+li{border-top:1px dotted #ddd;margin-top:15px;}
.fields__list{display:block;cursor:pointer;padding:10px 0;}
.fields__list+.fields__list{border-top:1px solid #ddd;}
.fields__label{display:block;margin-bottom:5px;}
.fields__input{padding:10px 5px;border:1px solid #ddd;color:#666;border-radius:3px;transition:0.3s;font-size:15px;background:#fff;}
.fields__input::placeholder{color:#bbb;}
.fields__input:focus{border-bottom:1px solid #09f;outline:none;}
.fields__input.full{box-sizing:border-box;width:100%;}
.fields__input-list{margin:3px 0;display:flex;align-items:center;}
.fields__input-list label{width:50%;}
.fields__input-list span{display:inline-block;width:100px;}
.fields__buttons{padding-top:15px;}
.fields__buttons.center{text-align:center;}
.fields__custom-radio{display:inline-block;cursor:pointer;}
.fields__custom-radio input{display:none;}
.fields__custom-radio span{display:block;border:1px solid #ddd;padding:5px 10px;font-size:13px;transition:.3s;cursor:pointer;border-radius:3px;background:#fff;}
.fields__custom-radio img{border:2px solid #ddd;background:#fff;padding:10px;margin:1px 0;}
.fields__custom-radio input:checked+span{border-color:#09f;background:#09f;color:#fff;}
.fields__custom-radio input:checked+img{border-color:#09F;}
#logoUploaded{padding:15px;background:#fff;border:2px solid #09F;margin-top:10px;}

/* table */
.table table{width:100%;background:#fff;text-align:center;border-spacing:0;border-collapse:collapse}
.table td,
.table th{line-height:40px;padding:5px;}
.table th{background:#555;color:#fff;}
.table td{border-bottom:1px solid #bebebe;}
.table tr:nth-child(2n){background:#f5f5f5;}
.table tbody tr:hover td{background:#ffd;cursor:pointer;}

/* builder */
.builder-top{position:fixed;left:0;right:0;top:0;display:flex;justify-content:space-between;align-items:center;height:50px;background:#fff;opacity:0.75;border-bottom:1px solid #bebebe;padding:0 10px;transition:.3s;z-index:50;}
.builder-top:hover{opacity:1;}

/* layer */
.layer{animation:layerOpen 0.5s;position:fixed;left:0;right:0;top:0;bottom:0;z-index:100;text-align:center;background:rgba(0,0,0,0.7);overflow:auto;}
.layer>div{position:relative;z-index:10;text-align:center;width:900px;cursor:default;background:#fff;padding:30px;border-radius:3px;overflow:hidden;margin:30px 0;text-align:left;}
.layer__close{position:absolute;right:0;top:0;display:block;background:#09F;color:#fff;padding:0 15px;line-height:40px;transition:.3s;opacity:.5;}
.layer__close:hover{opacity:1;}
.layer__title{background:#06d;color:#fff;margin:-30px -30px 30px;padding:0 30px;line-height:40px;}
@keyframes layerOpen{
  from{opacity:0;} to{opacity:1;}
}

/* preview */
#preview{margin-top:50px;}
#preview>*{position:relative;}
#preview>*.active{border:3px solid #09F;}
#preview .hide{display:none;}

/*Header*/
header > div{padding:0 100px;display:flex;justify-content:space-between;align-items:center;}
header > .contact{height:40px;background:#2c2e50;line-height:40px;}
header > .contact > div{height:100%;display:flex;align-items:center;color:#fff;font-size:13px;}
header .info > div{display:flex;align-items:center;padding:0 20px;border:1px;}
header .info img{max-height:20px;max-width:20px;margin-right:10px;}
header .social,
header .social a{display:flex;height:100%}
header .social a{align-items:center;}
header .social img{max-height:15px;max-width:15px;padding:0 10px;}
header > .navi{height:100px;background:#fff;}
header > .navi a{color:#000;}
#site-logo a{display:flex;align-items:center;font-size:20px;font-weight:bold;}
#site-logo img{margin-right:20px;}
#gnb > ul{display:flex;}
#gnb li:not(:last-child){text-align:center;margin-right:20px;}
#gnb li > a{font-size:15px;font-weight:bold;color:#777;}
#gnb li:hover > a{text-decoration:underline;color:#2c2e50;}

/*Main-Visual*/
.visual{height:600px;position:relative;display:flex;justify-content:center;align-items:center;}
.visual > .slide,
.visual .slide:before,
.visual > .slide-section{position:absolute;width:100%;height:100%;top:0;left:0;}
.visual .slide:before{background:#2c2e50;opacity:0.5;display:block;content:"";}
.visual .slide{background:no-repeat center / cover;}
.visual-text{color:#fff;position:absolute;z-index:20;text-align:center;}
.visual-text > h1{font-size:40px;margin-bottom:20px;}
.visual-text > p{font-size:15px;width:500px;padding-bottom:30px;letter-spacing:-1px}

/*visual1*/
.visual1 > .slide{opacity:0;background:no-repeat center / cover;transition:0.5s;}
.visual1 > .slide.active{opacity:0.7;}
.visual1 > .slide:nth-child(1){background-image:url(../image/visual/2.jpg);}
.visual1 > .slide:nth-child(2){background-image:url(../image/visual/7.jpg);}

/*visual2*/
.visual2{overflow:hidden;}
.visual2 > .slide-section{transition:.5s;height:100%;}
.visual2 .slide{float:left;height:100%;position:relative;}
.visual2 .slide:nth-child(1){background-image:url(../image/visual/1.jpg);}
.visual2 .slide:nth-child(2){background-image:url(../image/visual/2.jpg);}
.visual2 .slide:nth-child(3){background-image:url(../image/visual/3.jpg);}
.visual2 .slide-btn{position:absolute;top:calc(50% - 30px);width:60px;height:60px;line-height:55px;text-align:center;display:block;color:#FFF;font-size:30px;}
.visual2 .slide-btn.prev{left:0;}
.visual2 .slide-btn.next{right:0;}
.visual2 .slide-btn:not(.none){background:#1dd2af;cursor:pointer;}
.visual2 .slide-btn.none{background:rgba(255,255,255,.2);}

/*Contents*/
.content{padding:70px 0;}
.content > h2{font-size:25px;color:#2c2e50;text-align:center;font-weight:normal;margin-bottom:50px;}

/*Features*/

/*feature1*/
.feature1 > .wrap{display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;margin:0 auto;width:1200px;}
.feature1 article{width:30%;background:#fff;height:300px;box-shadow:1px 1px 3px #ccc;padding:30px;box-sizing:border-box;}
.feature1 img{max-height:50px;}
.feature1 h3{font-size:20px;padding:20px 0 10px 0;}
.feature1 p{font-size:13px;}
.feature1 .btn{margin-top:15px;}

/*feature2*/
.feature2 > .wrap{display:flex;justify-content:space-between;width:1200px;margin:0 auto;}
.feature2 article{width:350px;text-align:center;}
.feature2 .img{width:150px;height:150px;box-sizing:border-box;display:flex;justify-content:center;align-items:center;margin:0 auto;border:5px solid #1dd2af;border-radius:50%;}
.feature2 img{max-width:70px;max-height:70px;}
.feature2 h3{font-size:19px;margin:30px 0 15px 0;}
.feature2 p{font-size:13px;margin-bottom:20px;}
.feature2 button{color:#000;font-weight:bold;text-decoration:underline;background:none;border:none;cursor:pointer;font-size:15px;outline:none;}
.feature2 button:hover{color:#1dd2af;}

/*Gallery&Slider*/

/*gallery1*/
.gallery1 > .wrap{width:1200px;margin:0 auto;overflow:hidden;height:410px;}
.gallery1 > .wrap > div{width:200%;display:flex;transition:.5s;}
.gallery1 article{width:380px;position:relative;box-shadow:1px 1px 5px #aaa;}
.gallery1 article > label{position:absolute;display:block;width:100%;height:250px;top:0;left:0;cursor:pointer;z-index:10;}
.gallery1 article:not(:nth-child(3n)){margin-right:30px;}
.gallery1 article:nth-child(1) > .img{background:url(../image/gallery/19.jpg) no-repeat center / cover;}
.gallery1 article:nth-child(2) > .img{background:url(../image/gallery/24.jpg) no-repeat center / cover;}
.gallery1 article:nth-child(3) > .img{background:url(../image/gallery/11.jpg) no-repeat center / cover;}
.gallery1 article:nth-child(4) > .img{background:url(../image/gallery/20.jpg) no-repeat center / cover;}
.gallery1 article:nth-child(5) > .img{background:url(../image/gallery/27.jpg) no-repeat center / cover;}
.gallery1 article:nth-child(6) > .img{background:url(../image/gallery/25.jpg) no-repeat center / cover;}
.gallery1 .img{height:250px;}
.gallery1 .text{background:#2c2e50;height:150px;color:#fff;box-sizing:border-box;padding:30px;}
.gallery1 h3{font-size:15px;margin-bottom:5px;}
.gallery1 .sub{font-size:12px;margin-bottom:2px;}
.gallery1 .desc{color:#aaa;font-size:11px;}
.gallery1 > .btns{width:50px;height:20px;margin:auto;margin-top:50px;display:flex;justify-content:space-between;}
.gallery1 > .btns > label{width:20px;height:100%;box-sizing:border-box;border-radius:50%;border:3px solid #1dd2af;cursor:pointer;}
#pos1:checked ~ .wrap > div{margin-left:0;}
#pos2:checked ~ .wrap > div{margin-left:-100%;}
#pos1:checked ~ .btns > label:nth-child(1),
#pos2:checked ~ .btns > label:nth-child(2){background:#1dd2af;}

/*gallery2*/
.gallery2 > .wrap{width:1200px;margin:0 auto;display:flex;justify-content:space-between;}
.gallery2 > .wrap > div > article{margin-bottom:30px;position:relative;}
.gallery2 > .wrap label{z-index:10;cursor:pointer;}
.gallery2 article:hover > .text{opacity:1;}
.gallery2 > .wrap label,
.gallery2 .text{position:absolute;width:100%;height:100%;top:0;left:0;}
.gallery2 .text{background:rgba(0,0,0,.5);transition:.5s;opacity:0;box-sizing:border-box;padding:30px;color:#fff;}
.gallery2 h3{font-size:20px;margin-bottom:15px;}
.gallery2 .sub{font-size:15px;margin-bottom:5px;}
.gallery2 .desc{font-size:13px;}
.gallery2 .middle > article{width:500px;height:200px;}
.gallery2 .middle > article:nth-child(1){background:url(../image/gallery/11.jpg) no-repeat center / cover;}
.gallery2 .middle > article:nth-child(2){background:url(../image/gallery/20.jpg) no-repeat center / cover;}
.gallery2 .middle > article:nth-child(3){background:url(../image/gallery/27.jpg) no-repeat center / cover;}
.gallery2 .side > article{width:320px;height:315px;}
.gallery2 .left > article:nth-child(1){background:url(../image/gallery/19.jpg) no-repeat center / cover;}
.gallery2 .left > article:nth-child(2){background:url(../image/gallery/24.jpg) no-repeat center / cover;}
.gallery2 .right > article:nth-child(1){background:url(../image/gallery/25.jpg) no-repeat center / cover;}
.gallery2 .right > article:nth-child(2){background:url(../image/gallery/26.jpg) no-repeat center / cover;}
#modal{position:fixed;width:100%;height:100%;background:rgba(0,0,0,.4);display:flex;justify-content:center;align-items:center;z-index:-100;opacity:0;top:0;left:0;}
#modal > .wrap{background:#fff;width:800px;height:800px;display:flex;justify-content:center;align-items:center;position:relative;}
#modal label{cursor:pointer;position:absolute;display:block;right:10px;top:10px;font-size:15px;font-weight:bold;z-index:200;}
#modal img{display:none;max-width:700px;max-height:700px;}
[name="modal"]:not(#close):checked ~ #modal{animation:.6s fadeIn;animation-fill-mode:forwards;}
@keyframes fadeIn{
  0%{z-index:1000;opacity:0;}
  100%{z-index:1000;opacity:1;}
}
#modal1:checked ~ #modal img:nth-child(1),
#modal2:checked ~ #modal img:nth-child(2),
#modal3:checked ~ #modal img:nth-child(3),
#modal4:checked ~ #modal img:nth-child(4),
#modal5:checked ~ #modal img:nth-child(5),
#modal6:checked ~ #modal img:nth-child(6),
#modal7:checked ~ #modal img:nth-child(7){display:block;}

/*Contacts*/
.contact-form label{display:block;}
.contact-form input{border:none;border-bottom:1px solid #aaa;width:100%;line-height:40px;margin-bottom:20px;padding-left:10px;font-size:11px;}
.contact-form input,
textarea{border:none;border-bottom:1px solid #aaa;width:100%;line-height:40px;margin-bottom:20px;padding-left:10px;font-size:11px;}
.contacts1{padding:70px 0;}
.contacts1 > .wrap{width:1000px;height:400px;box-shadow:1px 1px 3px #000;display:flex;margin:0 auto;}
.contacts1 > .wrap > *{height:100%;box-sizing:border-box;}
.contacts1 h2,
.contacts1 h3{text-align:center;}
.contacts1 .contact-form{width:70%;background:#fff;padding:30px 150px;}
.contacts1 h2{margin-bottom:30px;}
.contacts1 .contact-info{background:#555;width:30%;color:#fff;padding:30px;position:relative;z-index:10;}
.contacts1 h3{margin-bottom:30px;font-weight:normal;font-size:15px;}
.contacts1 .contact-info > div > div{display:flex;align-items:center;font-size:13px;margin-bottom:20px;height:15px;}
.contacts1 .icon{width:40px;}
.contacts1 img{transform:scale(.5);display:block;margin:0 auto;}
.contacts2{background:url(../image/visual/1.jpg) no-repeat center / cover;position:relative;display:flex;justify-content:center;align-items:center;padding:80px 0;}
.contacts2:before{position:absolute;width:100%;height:100%;top:0;left:0;display:block;content:"";background:#2c2e50;opacity:.8;}
.contacts2 > *{height:400px;position:relative;z-index:10;box-sizing:border-box;}
.contacts2 > .contact-info{background:#2c2e50;color:#fff;display:flex;justify-content:center;align-items:center;width:350px;}
.contacts2 article{display:flex;align-items:center;margin-bottom:20px;}
.contacts2 .icon{width:20px;height:20px;margin-right:20px;display:flex;justify-content:center;align-items:center;}
.contacts2 img{max-width:100%;max-height:100%;}
.contacts2 > .contact-form{width:500px;background:#fff;padding:50px;}

/*footer*/
footer{padding:0 100px;background:#333;height:150px;display:flex;justify-content:space-between;align-items:center;color:#fff;box-sizing:border-box;}
#admin-info{font-size:15px;}
#social{width:120px;height:30px;display:flex;justify-content:space-between;}
#social > li,
#social a{height:100%;}
#social img{max-height:100%;}
#copyright{font-size:13px;}