@charset "utf-8";

/* 태그 초기화 */
body{font-family:"Malgun Gothic";font-weight:100;font-size:15px;letter-spacing:-0.5px}
*{margin:0;padding:0;}
ul,li{list-style:none;}
input,img,select,button,textarea,canvas,video{vertical-align:middle;font-family:inherit;letter-spacing:inherit}
a{text-decoration:none;color:inherit;}
fieldset{border:none;}
img{max-width:100%;max-height:100%;}
.ui-resizable-e,
.ui-resizable-w{cursor:ew-resize}

/* 레이아웃 요소 */
.legend{font-size:25px;margin-bottom:10px;}
.legend::before{content:"";display:inline-block;vertical-align:middle;margin-right:5px;width:5px;height:20px;background:#d30513;margin-top:-5px;}
span.middle{display:inline-block;vertical-align:middle;width:0;height:100%;}
span.middle+*{display:inline-block;vertical-align:middle;}

/* 버튼 */
.btn{color:#fff;padding:5px 10px;vertical-align:middle;border:none;font-size:13px;border-radius:3px;cursor:pointer;display:inline-block;font-weight:bold;}
.btn.full{width:100%;display:block;padding:10px 0;font-size:15px;text-align:center;}
.btn.full+.btn.full{margin-top:5px;}
.btn.mini{padding:3px 5px;}
.btn.big{font-size:17px;padding:10px 15px;}
.btn__main,
.btn__default.active{background:#d30513;}
.btn__default{background:#666;}
.btn__black{background:#333;}
.btn__group{margin-top:40px;text-align:center;}
.btn__group.right{text-align:right;}
.btn__left.right{text-align:left;}

/* 입력 영역 */
.fields{background:#fafafa;border-radius:3px;border:1px solid #ddd;padding:30px;}
.fields li+li{border-top:1px dotted #ddd;margin-top:15px;}
.fields__list{display:block;cursor:pointer;padding:10px 0;}
.fields__list+.fields__list{border-top:1px solid #ddd;}
.fields__label{display:block;margin-bottom:5px;}
.fields__input{padding:10px 5px;border:1px solid #ddd;color:#666;border-radius:3px;transition:0.3s;font-size:15px;}
.fields__input::placeholder{color:#bbb;}
.fields__input:focus{border-bottom:1px solid #d30513;outline:none;}
.fields__input.full{box-sizing:border-box;width:100%;}
.fields__buttons{padding-top:15px;}
.fields__custom-radio{display:inline-block;}
.fields__custom-radio input{display:none;}
.fields__custom-radio span{display:block;border:1px solid #ddd;padding:5px 10px;font-size:13px;transition:.3s;cursor:pointer;border-radius:3px;background:#fff;}
.fields__custom-radio input:checked+span{border-color:#d30513;background:#d30513;color:#fff;}

/* 사이트 상단 */
.site-header{background:#333;position:relative;z-index:10;}
.site-header>div{display:flex;justify-content:space-between;align-items:center;height:100px;position:relative;}
.logo a{color:#fff;font-size:21px;letter-spacing:-1px}
.gnb{display:flex;align-items:center;}
.gnb__mobile{display:none;}
.gnb>ul{display:flex;margin-right:20px;}
.gnb>ul a{display:block;transition:0.3s;letter-spacing:-1px;}
.gnb>ul>li{position:relative;}
.gnb>ul>li>a{color:#fff;line-height:60px;padding:0 40px;}
.gnb>ul>li>ul{position:absolute;left:0;min-width:100%;height:0;overflow:hidden;transition:0.5s;}
.gnb>ul>li>ul::after{content:"";display:block;position:absolute;left:0;right:0;bottom:0;height:2px;background:#d30513;}
.gnb>ul>li:hover>ul{height:80px;}
.gnb>ul>li:hover>a{background:#111;}
.gnb>ul>li>ul a{line-height:40px;text-align:center;background:#111;color:#fff;white-space:nowrap;}
.gnb>ul>li>ul a:hover{background:#fff;color:#222;border-color:#09F;}
.membership{margin-top:-2px;}
#menu{display:none;}

/* 비주얼 영역 */
.site-visual.sub ul{height:250px;}
.site-visual ul{height:400px;position:relative;}
.site-visual li{position:absolute;left:0;right:0;top:0;bottom:0;background:no-repeat center / cover;text-align:center;opacity:0;}
.site-visual li::before{content:"";position:absolute;left:0;right:0;top:0;bottom:0;display:block;background:#000;opacity:0.5;}
.site-visual li:nth-child(1){background-image:url(../image/visual1.jpg);animation:slide 20s infinite;animation-delay:0s;}
.site-visual li:nth-child(2){background-image:url(../image/visual2.jpg);animation:slide 20s infinite;animation-delay:5s;}
.site-visual li:nth-child(3){background-image:url(../image/visual3.jpg);animation:slide 20s infinite;animation-delay:10s;}
.site-visual li:nth-child(4){background-image:url(../image/visual4.jpg);animation:slide 20s infinite;animation-delay:15s;}
.site-visual__slogan{position:relative;color:#fff;font-size:30px;font-weight:bold}
.site-visual__slogan .left,
.site-visual__slogan .right{font-size:15px;vertical-align:top}

@keyframes slide{
  0%{opacity:0;}
  5%{opacity:1;}
  30%{opacity:1;}
  35%{opacity:0;}
}

/* 컨텐츠 영역 */
.site-content{padding:100px 0;}
.main-content+.main-content{margin-top:100px;}
.sub-content{padding:100px 0;}
.content__title{text-align:center;font-size:35px;line-height:100%;}
.content__title::after{content:"";display:block;width:50px;margin:20px auto 30px;height:1px;background:#bebebe;}

/* intro */
.intro__content{padding:100px;background:url(../image/intro.jpg) no-repeat center / cover;position:relative;color:#fff;border:5px solid #d30513;border-width:4px 0;}
.intro__content::before{content:"";display:block;position:absolute;left:0;right:0;top:0;bottom:0;background:#000;opacity:0.6;}
.intro__content p{position:relative;z-index:10;font-size:21px;}
.intro__content p+p{}
.intro__content p+p::before{content:"";display:block;height:1px;width:50px;margin:20px 0;background:#fff;}

/* news */
.news{background:#f0f0f0;padding:100px 0;}
.news ul{display:flex;flex-flow:wrap;}
.news li{width:48%;margin:1%;position:relative;height:300px;overflow:hidden}
.news li:hover img{transform:scale(1.2);}
.news img{object-fit:cover;position:absolute;left:0;top:0;width:100%;height:100%;transition:.3s;}
.news__content{position:absolute;bottom:0;left:0;right:0;padding:15px;background:rgba(0,0,0,0.7);border-left:4px solid #d30513;}
.news__subject{font-size:19px;display:block;color:#fff;margin-bottom:5px;}
.news__date{color:#aaa;font-size:17px;}

/* redcapet */
.redcapet ul{display:flex;flex-flow:wrap}
.redcapet li{width:290px;height:290px;overflow:hidden;margin:5px;}
.redcapet li:hover img{transform:rotateZ(5deg) scale(1.2)}
.redcapet img{object-fit:cover;width:100%;height:100%;transition:0.5s;}

/* 사이트 하단 */
.site-footer{background:#111;color:#fff;padding:30px 0;}
.site-footer>div{display:flex;justify-content:space-between;align-items:center;}
.footer__left ul{display:flex;line-height:200%;}
.footer__left li+li::before{content:"";display:inline-block;width:1px;height:10px;background:#fff;margin:0 10px;}
.footer__left p{font-family:"Arial";letter-spacing:1px;color:#aaa;}
.footer__right a{display:inline-block;width:50px;height:50px;border-radius:25px;overflow:hidden;}
.footer__right img{object-fit:cover;width:100%;height:100%;}

/* 개최안내 */
.summary dd{margin-top:20px;}
.summary li+li{margin-top:30px;}
.summary__image{height:450px;}
.summary__image img{object-fit:cover;height:100%;width:100%;}
.summary__title{font-size:27px;margin:40px 0;color:#666;text-align:center;}
.summary__title span{vertical-align:top;font-size:13px;color:#d30513;}
.summary__title strong{border-bottom:3px double #d30513;font-weight:inherit;color:#d30513;}
.summary__label{font-size:19px;}
.summary__label::before{content:"";display:inline-block;vertical-align:middle;width:5px;height:5px;border-radius:5px;background:#333;margin-right:5px;margin-top:-3px;}
.summary__description{background:#f0f0f0;border-radius:3px;padding:10px;border:1px solid #ddd;font-size:17px;margin-top:5px;margin-left:10px;}

/* 행사안내 */
.event-intro dl{line-height:200%;}
.event-intro dt{font-size:19px;font-weight:bold;color:#d30513;margin-bottom:10px;}
.event-intro dt i{vertical-align:top;font-size:10px;display:inline-block;}
.event-intro dd+dt{margin-top:30px;}
.event-intro dd{background:#f5f5f5;border-radius:3px;padding:15px;border:1px solid #ddd;}

/* 영화티저 콘테스트 */
.teaser__cover{display:flex;flex-flow:wrap;margin-top:40px;}
.teaser__cover li{width:20%;box-sizing:border-box;padding:1%;cursor:pointer;}
.teaser__name{font-size:19px;margin:10px 0;display:block;}
.teaser__point{color:#d30513;}
.teaser__video{position:relative;width:800px;margin:0 auto;}
.teaser__video svg{position:absolute;left:0;top:0;}
.teaser__player{position:absolute;display:block;width:100px;height:100px;top:calc(50% - 50px);left:calc(50% - 50px);font-size:100px;color:#fff;}
.teaser__view>ul{display:flex;width:800px;margin:20px auto;justify-content:center;}
.teaser__view>ul>li{display:flex;font-size:21px;}
.teaser__view>ul>li+li{margin-left:50px;}
.teaser__label{margin-right:10px;}

/* 평가 폼 */
.assessment{width:550px;margin:0 auto;}

/* 비디오 에디터 */
.video-editor{text-align:center;}
.video-wrap{width:800px;position:relative;margin:0 auto;}
.video-wrap .none{position:absolute;left:0;right:0;top:0;height:450px;z-index:20;background:#333;font-size:25px;color:#fff;}
.video-wrap .top,
.video-wrap .move{position:absolute;left:0;right:0;top:0;height:450px;z-index:30;background:#000;opacity:0.1;display:none;}
.video-wrap .top.active,
.video-wrap .move.active{display:block;}
.video-wrap svg{position:absolute;left:0;right:0;top:0;z-index:10;}
.video-wrap svg .active{outline:3px solid #d30513}
.video-wrap__duration{margin:20px 0;display:flex;justify-content:space-between}
.video-wrap__duration>div{display:none}
.video-wrap__duration>div.active{display:block;}
.video-editor__object{margin-top:20px;}
.video-editor__object a{display:inline-block;background:#666;color:#fff;transition:.3s;border-radius:3px;padding:5px 10px;font-size:13px;}
.video-editor__object a:hover,
.video-editor__object a.active{background:#d30513;}
.video-editor__list{margin-bottom:10px;}
.video-editor__option{display:flex;justify-content:center;margin-top:10px;}
.video-editor__option li+li{margin-left:30px;}
.timeline{width:800px;margin:0 auto;position:relative;}
.timeline-current{display:none;position:absolute;top:-10px;bottom:-10px;left:0;width:2px;background:#09F;cursor:pointer;z-index:10}
.timeline-current::before{content:"";display:block;position:absolute;left:-2px;width:6px;height:6px;border-radius:6px;background:#09F;}
.timeline .movie-current.bar{display:none;background:#aaa;margin-top:10px;}
.timeline .bar{height:30px;border-radius:3px;background:#f5f5f5;overflow:hidden;position:relative;}
.timeline .bar+.bar{margin-top:10px;}
.timeline .bar>div{background:#aaa;height:100%;position:absolute;left:0;width:100%;resize:horizontal}
.timeline .bar.resizing{cursor:ew-resize}
.timeline .bar.active>div{background:#d30513}
.timeline.active .timeline-current,
.timeline.active .movie-current.bar{display:block;}

.fields__custom-radio.gray span{color:rgb(80, 70, 70);border-color:#999;}
.fields__custom-radio.gray input:checked+span{background:#999;border-color:#999;}
.fields__custom-radio.blue span{color:#09F;border-color:#09F;}
.fields__custom-radio.blue input:checked+span{background:#09F;border-color:#09F;}
.fields__custom-radio.green span{color:#0f9;border-color:#0f9;}
.fields__custom-radio.green input:checked+span{background:#0f9;border-color:#0f9;}
.fields__custom-radio.yellow span{color:#ed0;border-color:#ed0;}
.fields__custom-radio.yellow input:checked+span{background:#ed0;border-color:#ed0;}

.login .fields,
.join .fields,
.movie-add .fields,
.schedule-add .fields{max-width:600px;margin:0 auto;}

.calendar{}
.calendar__header{text-align:center;}
.calendar__header h3{font-size:31px;font-weight:100;}
.calendar__navigation{display:flex;justify-content:center;margin-top:10px;}
.calendar__navigation a{margin:0 2px;}
.calendar__body{border:2px solid #aaa;margin-top:20px;}
.calendar__body ul{display:flex;}
.calendar__body ul+ul{border-top:1px dotted #ddd;}
.calendar__body li{width:calc(100% / 7);}
.calendar__body li[onclick]:hover{background:#fdd;cursor:pointer;}
.calendar__body li.now{background:#ffc;}
.calendar__body li+li{border-left:1px dotted #ddd;}
.calendar__body li:first-child{color:#f09;font-weight:bold;}
.calendar__body li:last-child{color:#09F;font-weight:bold;}
.calendar__date{padding:10px;transition:.3s;}
.calendar__date span{display:block;}
.calendar__date div{min-height:70px;color:#000;margin-top:10px;}
.calendar__date p{padding:5px;}
.calendar__top li{line-height:40px;text-align:center;background:#f5f5f5;}

.movies article{display:flex;margin-top:50px;}
.movies__search-frm ul{display:flex;align-items:center;margin-bottom:20px;}
.movies__search-frm li+li{margin:0 0 0 50px;border:none;}
.movies__search-frm .fields__input{padding:5px;font-size:13px;}
.movies__search-frm__label{display:inline-block;margin-right:10px;}
.movies__range{width:30%;font-size:25px;}
.movies__detail{width:70%;border-top:1px solid #d30513;}
.movies__detail li{display:flex;border-bottom:1px solid #ddd;line-height:50px;}
.movies__count span{display:inline-block;margin-right:20px;}
.movies__none{text-align:center;background:#fafafa;margin-top:50px;border:1px solid #aaa;padding:50px 0;font-size:25px;font-weight:bold;color:#aaa;border-radius:3px}
.range__label{display:block;margin-bottom:10px;color:#d30513;}
.range__label::before{content:"";display:inline-block;width:10px;height:10px;border-radius:10px;vertical-align:middle;background:#d30513;margin-right:10px;margin-top:-3px;}
.range__description{font-size:30px;}
.detail__label{width:30%;font-size:19px;text-indent:20px;}
.detail__description{width:70%;font-size:19px;}

@media (min-width:641px) {
  .container{width:1200px;margin:0 auto;}
  .site-header,.site-visual,.site-content,.site-footer{min-width:1200px;}
  .event-intro.container{width:1000px;}
}

@media (max-width:640px) {
  /* 레이아웃 요소 */
  .legend{font-size:25px;}
  .legend::before{margin-right:5px;width:5px;height:20px;margin-top:-3px;}

  /* 버튼 */
  .btn{padding:5px 10px;font-size:13px;}
  .btn__full{padding:5px 0;}
  .btn__mini{padding:3px 5px;}

  /* 사이트 상단 */
  .site-header>div{padding:0 20px;}
  .gnb__mobile{display:block;color:#fff;margin-left:10px;font-size:20px;cursor:pointer;}
  #menu:checked ~ ul{height:280px;}
  .gnb>ul{display:block;margin-right:0;position:absolute;left:0;right:0;top:100%;height:0;transition:0.5s;overflow:hidden;}
  .gnb>ul>li>a{line-height:39px;background:#222;border-bottom:1px solid #444;}
  .gnb>ul>li>ul{position:static;}
  .gnb>ul>li>ul::after{content:none;}
  .gnb>ul>li:hover>a{background:#111;}
  .gnb>ul>li>ul a{text-align:left;padding-left:40px;}
  .membership{margin-top:-4px;}

  /* 비주얼 영역 */
  .site-visual.sub ul{height:200px;}
  .site-visual ul{height:300px;}
  .site-visual__slogan{font-size:20px;}
  .site-visual__slogan .left,
  .site-visual__slogan .right{font-size:11px;}

  /* 컨텐츠 영역 */
  .site-content{padding:50px 0;}
  .main-content+.main-content{margin-top:50px;}
  .sub-content{padding:40px 20px;}
  .content__title{font-size:30px;}

  /* intro */
  .intro__content{padding:50px;}
  .intro__content p{font-size:17px;}
  .intro__content p+p::before{content:"";display:block;height:1px;width:50px;margin:20px 0;background:#fff;}

  /* news */
  .news{padding:50px 20px;margin-top:0 !important;}
  .news li{width:48%;height:auto;}
  .news img{position:static;height:150px;}
  .news__content{position:relative;background:#222;padding:10px 5px;border-left-width:2px;}
  .news__subject{font-size:13px;}
  .news__date{font-size:11px;}

  /* redcapet */
  .redcapet li{width:48%;padding-top:48%;height:0;margin:1%;position:relative;}
  .redcapet img{position:absolute;left:0;top:0;}

  /* 사이트 하단 */
  .site-footer{padding:20px;}
  .site-footer>div{display:block;}
  .footer__left ul{display:block;line-height:160%;font-size:13px;}
  .footer__left ul+ul{margin-top:10px;}
  .footer__left li+li::before{content:none;}
  .footer__left p{margin-top:10px;}
  .footer__right{margin-top:20px;}
  .footer__right a{width:40px;height:40px;border-radius:40px;}
  
  /* 개최안내 */
  .summary__image{height:200px;}
  .summary__title{font-size:17px;margin:40px 0;}
  .summary__title span{font-size:10px;}
  .summary__title strong{border-bottom:1px solid #d30513;}
  .summary__label{font-size:19px;}
}